openapi: 3.1.0
info:
  title: Best Buy full PDP HAR endpoints
  version: 0.1.0-discovered
  description: 'Spec discovered from a browser-trace capture by the browser-to-api skill. Inductive, not contractual — see `report.md` and `x-confidence` extensions for caveats.'
servers:
  - url: 'https://www.bestbuy.com'
paths:
  '/~assets/bby/_com/libs/goteam/v26.16.2.js':
    get:
      summary: 'GET /~assets/bby/_com/libs/goteam/v26.16.2.js'
      operationId: get__assets_bby__com_libs_goteam_v26_16_2_js
      responses:
        '200':
          description: Success
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-origin: 'https://www.bestbuy.com'
  /deo-configfile/v1/configfiles:
    get:
      summary: GET /deo-configfile/v1/configfiles
      operationId: get_deo_configfile_v1_configfiles
      parameters:
        - name: configfileKey
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/Configfiles'
              example:
                env: dotcom Prod
                ck: dotcom_Prod_bby_dotcom_53F42C3
                rev: 1248
                sch: V1
                exp:
                  exp0563:
                    id: '482'
                    ek: exp0563
                    t: ABTEST
                    ver: '1'
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: '1132'
                        k: A
                        sor: 1
                        eor: 1000
                      - vid: '1133'
                        k: B
                        sor: 1001
                        eor: 10000
                    f:
                      exp0563A: A
                      exp0563B: B
                  exp0387:
                    id: '322'
                    ek: exp0387
                    t: ABTEST
                    ver: '3'
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: '760'
                        k: A
                        sor: 1
                        eor: 6500
                      - vid: '761'
                        k: B
                        sor: 6501
                        eor: 7375
                      - vid: '767'
                        k: C
                        sor: 7376
                        eor: 8250
                      - vid: '768'
                        k: D
                        sor: 8251
                        eor: 9125
                      - vid: '769'
                        k: E
                        sor: 9126
                        eor: 10000
                    f:
                      exp0387D: D
                      exp0387C: C
                      exp0387E: E
                      exp0387B: B
                      exp0387A: A
                  exp0431:
                    id: '353'
                    ek: exp0431
                    t: ABTEST
                    ver: '2'
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: '840'
                        k: A
                        sor: 1
                        eor: 4500
                      - vid: '841'
                        k: B
                        sor: 4501
                        eor: 9000
                      - vid: '842'
                        k: C
                        sor: 9001
                        eor: 9500
                      - vid: '843'
                        k: D
                        sor: 9501
                        eor: 10000
                    f:
                      exp0431C: C
                      exp0431D: D
                      exp0431A: A
                      ecb25db1-97c1-11f0-ab2e-0a3c2c334a3b: B
                      exp0431B: B
                  exp0386:
                    id: '321'
                    ek: exp0386
                    t: ABTEST
                    ver: '3'
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: '758'
                        k: A
                        sor: 1
                        eor: 3000
                      - vid: '759'
                        k: B
                        sor: 3001
                        eor: 4750
                      - vid: '764'
                        k: C
                        sor: 4751
                        eor: 6500
                      - vid: '765'
                        k: D
                        sor: 6501
                        eor: 8250
                      - vid: '766'
                        k: E
                        sor: 8251
                        eor: 10000
                    f:
                      exp0386C: C
                      exp0386B: B
                      exp0386E: E
                      exp0386D: D
                      exp0386A: A
                  exp0550:
                    id: '474'
                    ek: exp0550
                    t: ABTEST
                    ver: '1'
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: '1116'
                        k: A
                        sor: 1
                        eor: 5000
                      - vid: '1117'
                        k: B
                        sor: 5001
                        eor: 10000
                    f:
                      6577cc74-1d8d-11f1-893e-06a0b689ec4f: B
                      exp0550A: A
                      exp0550B: B
                  exp0561:
                    id: '479'
                    ek: exp0561
                    t: ABTEST
                    ver: '1'
                    a:
                      - '9'
                    eg: null
                    ac: OR
                    v:
                      - vid: ''
                        k: A
                        sor: 1
                        eor: 0
                      - vid: ''
                        k: B
                        sor: 5001
                        eor: 5000
                    f:
                      exp0561A: A
                      exp0561B: B
                  exp0572:
                    id: '497'
                    ek: exp0572
                    t: ABTEST
                    ver: '1'
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: '1162'
                        k: A
                        sor: 1
                        eor: 5000
                      - vid: '1163'
                        k: B
                        sor: 5001
                        eor: 10000
                    f:
                      exp0572A: A
                      exp0572B: B
                  exp0362:
                    id: '274'
                    ek: exp0362
                    t: ABTEST
                    ver: '6'
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: ''
                        k: A
                        sor: 1
                        eor: 0
                      - vid: ''
                        k: B
                        sor: 1001
                        eor: 1000
                    f:
                      exp0362A: A
                      exp0362B: B
                  exp0560:
                    id: '478'
                    ek: exp0560
                    t: ABTEST
                    ver: '1'
                    a:
                      - '11'
                    eg: null
                    ac: OR
                    v:
                      - vid: ''
                        k: A
                        sor: 1
                        eor: 0
                      - vid: ''
                        k: B
                        sor: 5001
                        eor: 5000
                    f:
                      exp0560B: B
                      exp0560A: A
                  exp0373:
                    id: '310'
                    ek: exp0373
                    t: ABTEST
                    ver: '8'
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: '729'
                        k: A
                        sor: 1
                        eor: 1000
                      - vid: '730'
                        k: B
                        sor: 1001
                        eor: 10000
                    f:
                      exp0373A: A
                      exp0373B: B
                  exp0539:
                    id: '468'
                    ek: exp0539
                    t: ABTEST
                    ver: '1'
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: '1103'
                        k: A
                        sor: 1
                        eor: 250
                      - vid: '1104'
                        k: B
                        sor: 5001
                        eor: 5250
                    f:
                      exp0539B: B
                      exp0539A: A
                  exp0506:
                    id: '443'
                    ek: exp0506
                    t: ABTEST
                    ver: '2'
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: ''
                        k: A
                        sor: 1
                        eor: 0
                      - vid: ''
                        k: B
                        sor: 5001
                        eor: 5000
                    f:
                      exp0506B: B
                      exp0506A: A
                  exp0528:
                    id: '447'
                    ek: exp0528
                    t: ABTEST
                    ver: '1'
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: ''
                        k: A
                        sor: 1
                        eor: 0
                      - vid: ''
                        k: B
                        sor: 3334
                        eor: 3333
                      - vid: ''
                        k: C
                        sor: 6667
                        eor: 6666
                    f:
                      exp0528B: B
                      exp0528C: C
                      exp0528A: A
                  dee_act_node:
                    id: '481'
                    ek: dee_act_node
                    t: ABTEST
                    ver: '1'
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: '1130'
                        k: A
                        sor: 1
                        eor: 5000
                      - vid: '1131'
                        k: B
                        sor: 5001
                        eor: 10000
                    f: {}
                  web_integration_test:
                    id: '41'
                    ek: web_integration_test
                    t: ABTEST
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: ''
                        k: A
                        sor: 1
                        eor: 0
                      - vid: ''
                        k: B
                        sor: 5001
                        eor: 5000
                    f:
                      webintb: B
                      webinta: A
                  exp0523:
                    id: '439'
                    ek: exp0523
                    t: ABTEST
                    ver: '1'
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: '1034'
                        k: A
                        sor: 1
                        eor: 5000
                      - vid: '1035'
                        k: B
                        sor: 5001
                        eor: 10000
                    f:
                      exp0523A: A
                      exp0523B: B
                  exp0544:
                    id: '466'
                    ek: exp0544
                    t: ABTEST
                    ver: '1'
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: '1099'
                        k: A
                        sor: 1
                        eor: 5000
                      - vid: '1100'
                        k: B
                        sor: 5001
                        eor: 10000
                    f:
                      exp0544A: A
                      exp0544B: B
                  exp0488:
                    id: '420'
                    ek: exp0488
                    t: ABTEST
                    ver: '2'
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: '993'
                        k: A
                        sor: 1
                        eor: 4500
                      - vid: '994'
                        k: B
                        sor: 4501
                        eor: 9000
                      - vid: '995'
                        k: C
                        sor: 9001
                        eor: 9500
                      - vid: '996'
                        k: D
                        sor: 9501
                        eor: 10000
                    f:
                      exp0488C: C
                      exp0488D: D
                      exp0488A: A
                      exp0488B: B
                  exp0516:
                    id: '454'
                    ek: exp0516
                    t: ABTEST
                    ver: '2'
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: ''
                        k: A
                        sor: 1
                        eor: 0
                      - vid: ''
                        k: B
                        sor: 3334
                        eor: 3333
                      - vid: ''
                        k: C
                        sor: 6667
                        eor: 6666
                    f:
                      exp0516C: C
                      exp0516A: A
                      exp0516B: B
                  exp0537:
                    id: '463'
                    ek: exp0537
                    t: ABTEST
                    ver: '1'
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: '1093'
                        k: A
                        sor: 1
                        eor: 5000
                      - vid: '1094'
                        k: B
                        sor: 5001
                        eor: 10000
                    f:
                      exp0537B: B
                      exp0537A: A
                  exp0559:
                    id: '477'
                    ek: exp0559
                    t: ABTEST
                    ver: '1'
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: ''
                        k: A
                        sor: 1
                        eor: 0
                      - vid: ''
                        k: B
                        sor: 5001
                        eor: 5000
                    f:
                      exp0559B: B
                      exp0559A: A
                  exp0526:
                    id: '453'
                    ek: exp0526
                    t: ABTEST
                    ver: '1'
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: '1068'
                        k: A
                        sor: 1
                        eor: 2500
                      - vid: '1069'
                        k: B
                        sor: 2501
                        eor: 5000
                      - vid: '1070'
                        k: C
                        sor: 5001
                        eor: 7500
                      - vid: '1071'
                        k: D
                        sor: 7501
                        eor: 10000
                    f:
                      exp0526D: D
                      exp0526B: B
                      exp0526C: C
                      exp0526A: A
                  exp0535:
                    id: '456'
                    ek: exp0535
                    t: ABTEST
                    ver: '1'
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: ''
                        k: A
                        sor: 1
                        eor: 0
                      - vid: ''
                        k: B
                        sor: 3334
                        eor: 3333
                      - vid: ''
                        k: C
                        sor: 6667
                        eor: 6666
                    f:
                      exp0535B: B
                      exp0535C: C
                      exp0535A: A
                  exp0304:
                    id: '222'
                    ek: exp0304
                    t: ABTEST
                    a: []
                    eg: null
                    ac: OR
                    v:
                      - vid: ''
                        k: 304_control
                        sor: 1
                        eor: 0
                      - vid: ''
                        k: 304_ranker
                        sor: 5001
                        eor: 5000
                    f:
                      exp0304A: 304_control
                      exp0304B: 304_ranker
                aud:
                  '9':
                    n: largeView_l
                    c:
                      conditional: OR
                      conditions:
                        - conditional: OR
                          matchers:
                            - matchType: equals
                              key: deviceClass
                              values:
                                - l
                  '11':
                    n: smallView_s
                    c:
                      conditional: OR
                      conditions:
                        - conditional: OR
                          matchers:
                            - matchType: equals
                              key: deviceClass
                              values:
                                - s
                eg:
                  deo_1820:
                    exp:
                      - k: deo_1820_client_exclusion_1
                        sor: 1
                        eor: 6000
                      - k: deo_1820_client_exclusion_2
                        sor: 6001
                        eor: 8000
                      - k: deo_1820_client_exclusion_3
                        sor: 8001
                        eor: 10000
                  deo1786Placebo:
                    exp:
                      - k: clientPlacebo1786
                        sor: 1
                        eor: 5000
                      - k: clientPlacebo1786_exclusion
                        sor: 5001
                        eor: 10000
                  deo_1836_client:
                    exp:
                      - k: deo_1838_client_1
                        sor: 1
                        eor: 5000
                      - k: deo_1838_client_2
                        sor: 5001
                        eor: 10000
                  deo1816Placebo:
                    exp:
                      - k: javaPlacebo1816
                        sor: 1
                        eor: 5000
                      - k: javaPlacebo1816_exclusion
                        sor: 5001
                        eor: 10000
                  deo1810Placebo:
                    exp:
                      - k: nodePlacebo1810
                        sor: 1
                        eor: 5000
                      - k: nodePlacebo1810_exclusion
                        sor: 5001
                        eor: 10000
                  deo2157_qa:
                    exp:
                      - k: exp2157
                        sor: 1
                        eor: 5000
                      - k: exp2157_B
                        sor: 5001
                        eor: 10000
                  deo2083egtest:
                    exp:
                      - k: exp2148
                        sor: 1
                        eor: 5000
                      - k: exp2148_eg
                        sor: 5001
                        eor: 10000
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-sample
          - single-status
        confidence: low
      x-sample-count: 1
      x-origin: 'https://www.bestbuy.com'
  '/gateway/graphql [getBbyApolloClientInternalConfig]':
    post:
      summary: 'getBbyApolloClientInternalConfig (POST /gateway/graphql)'
      operationId: post_getBbyApolloClientInternalConfig
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                variables:
                  type: object
                  properties:
                    id:
                      type: string
                  required:
                    - id
                operationName:
                  type: string
              required:
                - operationName
                - query
                - variables
            example:
              query: "\n\tquery getBbyApolloClientInternalConfig($id: String) {\n\t\tmanagedContentByTypeAndId( managedContentInput: {id: $id, type: \"key-value\"} ) {\n\t\t\tdocument\n\t\t\tcatalog\n\t\t\tid\n\t\t}\n\t}\n"
              variables:
                id: bby-apollo-client
              operationName: getBbyApolloClientInternalConfig
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      managedContentByTypeAndId:
                        type: object
                        properties:
                          document:
                            type: object
                            properties:
                              clientSideFulfillmentLinkConfig:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    fieldName:
                                      type: string
                                    relativeUrl:
                                      type: string
                                  required:
                                    - fieldName
                                    - relativeUrl
                              disableFulfillmentLink:
                                type: boolean
                            required:
                              - clientSideFulfillmentLinkConfig
                              - disableFulfillmentLink
                          catalog:
                            type: string
                          id:
                            type: string
                        required:
                          - catalog
                          - document
                          - id
                    required:
                      - managedContentByTypeAndId
                required:
                  - data
              example:
                data:
                  managedContentByTypeAndId:
                    document:
                      clientSideFulfillmentLinkConfig:
                        - fieldName: fulfillmentOptions
                          relativeUrl: /gateway/graphql/fulfillment
                      disableFulfillmentLink: false
                    catalog: platform-manager
                    id: bby-apollo-client
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-status
          - mixed-content-types
          - single-sample
        confidence: low
      x-sample-count: 1
      x-origin: 'https://www.bestbuy.com'
  '/gateway/graphql [CustomerData]':
    post:
      summary: 'CustomerData (POST /gateway/graphql)'
      operationId: post_CustomerData
      requestBody:
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/GraphqlCustomerDataRequest'
            example:
              operationName: CustomerData
              variables: {}
              extensions:
                clientLibrary:
                  name: '@apollo/client'
                  version: 4.1.6
              query: "query CustomerData {\n  customer {\n    ...Customer_Fragment\n    __typename\n  }\n}\n\nfragment Customer_Fragment on Customer {\n  identity {\n    memberId\n    __typename\n  }\n  preferences {\n    identifiers {\n      userToken\n      __typename\n    }\n    store {\n      displayName\n      locationId\n      openBoxShipFromStoreEligible\n      __typename\n    }\n    __typename\n  }\n  name {\n    firstName\n    __typename\n  }\n  creditCards {\n    type\n    __typename\n  }\n  profileLabels {\n    label\n    value\n    __typename\n  }\n  contact {\n    primaryShippingAddress {\n      zip\n      __typename\n    }\n    __typename\n  }\n  planPaidMembership {\n    effectiveType\n    pendingType\n    activeType\n    __typename\n  }\n  __typename\n}"
      responses:
        '200':
          description: Success
          content:
            'application/graphql-response+json':
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      '$ref': '#/components/schemas/Errors'
                  data:
                    type: object
                    properties:
                      customer:
                        '$ref': '#/components/schemas/Customer'
                    required:
                      - customer
                required:
                  - data
                  - errors
              example:
                errors:
                  - message: Error - Forbidden
                    locations: []
                    path:
                      - customer
                      - contact
                    extensions:
                      code: FORBIDDEN
                  - message: Error - Forbidden
                    locations: []
                    path:
                      - customer
                      - identity
                    extensions:
                      code: FORBIDDEN
                data:
                  customer:
                    identity: null
                    preferences:
                      identifiers:
                        userToken: 8217524d-4fb4-11f1-a701-0e79396342ad
                        __typename: CustomerIdentifier
                      store: null
                      __typename: CustomerPreference
                    name:
                      firstName: ARI
                      __typename: CustomerName
                    creditCards: null
                    profileLabels:
                      - label: LOYALTY_TIER_CORE
                        value: true
                        __typename: CustomerProfileLabel
                    contact: null
                    planPaidMembership:
                      effectiveType: 'NULL'
                      pendingType: 'NULL'
                      activeType: 'NULL'
                      __typename: PlanPaidMembership
                    __typename: Customer
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-status
          - mixed-content-types
          - single-sample
        confidence: low
      x-sample-count: 1
      x-origin: 'https://www.bestbuy.com'
  '/gateway/graphql [CartQuery]':
    post:
      summary: 'CartQuery (POST /gateway/graphql)'
      operationId: post_CartQuery
      requestBody:
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/GraphqlCartQueryRequest'
            example:
              operationName: CartQuery
              query: "query CartQuery {\n  customer {\n    cart {\n      totalQuantity\n    }\n  }\n}"
              variables: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      customer:
                        type: object
                        properties:
                          cart:
                            type: object
                            properties:
                              totalQuantity:
                                type: integer
                            required:
                              - totalQuantity
                        required:
                          - cart
                    required:
                      - customer
                required:
                  - data
              example:
                data:
                  customer:
                    cart:
                      totalQuantity: 0
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-status
          - mixed-content-types
          - single-sample
        confidence: low
      x-sample-count: 1
      x-origin: 'https://www.bestbuy.com'
  '/gateway/graphql [PageLoadAnalyticsData_Init_Pdp]':
    post:
      summary: 'PageLoadAnalyticsData_Init_Pdp (POST /gateway/graphql)'
      operationId: post_PageLoadAnalyticsData_Init_Pdp
      requestBody:
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/GraphqlPageLoadAnalyticsDataInitPdpRequest'
            example:
              operationName: PageLoadAnalyticsData_Init_Pdp
              variables:
                isBestbuyMember: true
                skuId: '6674708'
                input:
                  salesChannel: LargeView
                isBadgeEnabled: false
                isBadgeV2Enabled: true
                bsinBuyingOptionsInput:
                  skuId: '6674708'
                  bsin: JJGH3KQYP8
                  salesChannel: LargeView
                  postalCode: ''
                  locationId: '1436'
              extensions:
                clientLibrary:
                  name: '@apollo/client'
                  version: 4.1.6
              query: "query PageLoadAnalyticsData_Init_Pdp($skuId: String!, $input: ProductItemPriceInput!, $isBestbuyMember: Boolean!, $isBadgeEnabled: Boolean!, $isBadgeV2Enabled: Boolean!, $bsinBuyingOptionsInput: BsinBuyingOptionsInput!) {\n  productBySkuId(skuId: $skuId) {\n    skuId\n    ...AnalyticsFulfillmentOptionsFragment\n    buyingOptions {\n      skuId\n      type\n      product {\n        ...AnalyticsFulfillmentOptionsFragment\n        __typename\n        skuId\n        openBoxCondition\n      }\n      __typename\n    }\n    seller {\n      id\n      __typename\n    }\n    whatItIs\n    hierarchy {\n      bbypres {\n        id\n        primary\n        categoryDetail {\n          name\n          seoUrl\n          broaderTerms {\n            primaryLineage {\n              id\n              name\n              seoUrl\n              sequence\n              __typename\n            }\n            __typename\n          }\n          __typename\n        }\n        __typename\n      }\n      __typename\n    }\n    arModels {\n      uri\n      format\n      __typename\n    }\n    reviewInfo {\n      averageRating\n      reviewCount\n      __typename\n    }\n    price(input: $input) {\n      customerPrice\n      currentPrice\n      priceEventType\n      puckDisplayMessage\n      heroRenderPriceOptions\n      paymentOptions {\n        numberOfInstallments\n        installmentAmount\n        vendor\n        isDisplayable\n        type\n        __typename\n      }\n      financeOption {\n        monthlyPayment\n        offerId\n        __typename\n      }\n      tieredOffersTracking {\n        amountConsideredToNextTier\n        amountRemainingToNextTier\n        nextTierId\n        quantityConsideredToNextTier\n        quantityRemainingToNextTier\n        savings\n        savingsType\n        tieredOffersGroupName\n        trackingBy\n        tiers {\n          discountValue\n          minPurchaseAmount\n          minQuantity\n          offerId\n          qualified\n          tierId\n          __typename\n        }\n        __typename\n      }\n      __typename\n    }\n    productVariationDetailDisplay {\n      type\n      title\n      variationTypes {\n        definition\n        displayName\n        rawName\n        __typename\n      }\n      productVariations {\n        shortName\n        color\n        colorCategory\n        sku\n        variations {\n          rawName\n          value\n          __typename\n        }\n        product {\n          name {\n            short\n            __typename\n          }\n          seller {\n            classification\n            id\n            __typename\n          }\n          __typename\n          skuId\n          openBoxCondition\n        }\n        __typename\n      }\n      __typename\n    }\n    ...AnalyticsBadgesFragment @include(if: $isBadgeEnabled)\n    ...AnalyticsBadgesV2Fragment @include(if: $isBadgeV2Enabled)\n    operationalAttributes {\n      values\n      __typename\n    }\n    ...featuredSkuRankingId\n    __typename\n    openBoxCondition\n  }\n  bsinBuyingOptions(input: $bsinBuyingOptionsInput) {\n    lowestAvailableBSINPrice\n    highestAvailableBSINPrice\n    __typename\n    bsin\n  }\n}\n\nfragment AnalyticsFulfillmentOptionsFragment on Product {\n  __typename\n  skuId\n  openBoxCondition\n}\n\nfragment featuredSkuRankingId on Product {\n  featuredSkuRank(filter: {isBestbuyMember: $isBestbuyMember}) {\n    rankingId\n    __typename\n  }\n  __typename\n  skuId\n  openBoxCondition\n}\n\nfragment AnalyticsBadgesFragment on Product {\n  badges {\n    detailsHref\n    displayName\n    endDate\n    imageHref\n    sortOrder\n    startDate\n    typeCode\n    __typename\n  }\n  __typename\n  skuId\n  openBoxCondition\n}\n\nfragment AnalyticsBadgesV2Fragment on Product {\n  badgesV2 {\n    badgeId\n    label\n    __typename\n  }\n  __typename\n  skuId\n  openBoxCondition\n}"
      responses:
        '200':
          description: Success
          content:
            'application/graphql-response+json':
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      '$ref': '#/components/schemas/Errors'
                  data:
                    type: object
                    properties:
                      productBySkuId:
                        '$ref': '#/components/schemas/ProductBySkuId'
                      bsinBuyingOptions:
                        '$ref': '#/components/schemas/BsinBuyingOptions'
                    required:
                      - bsinBuyingOptions
                      - productBySkuId
                required:
                  - data
                  - errors
              example:
                errors:
                  - message: Error - Not Found
                    locations: []
                    path:
                      - productBySkuId
                      - arModels
                    extensions:
                      code: NOT_FOUND
                data:
                  productBySkuId:
                    skuId: '6674708'
                    __typename: Product
                    openBoxCondition: null
                    buyingOptions:
                      - skuId: '6674708'
                        type: New
                        product:
                          __typename: Product
                          skuId: '6674708'
                          openBoxCondition: null
                        __typename: InboundBuyingOption
                    seller:
                      id: bby
                      __typename: Seller
                    whatItIs:
                      - Laptop Computer
                    hierarchy:
                      bbypres:
                        - id: pcmcat138500050001
                          primary: true
                          categoryDetail:
                            name: All Laptops
                            seoUrl: 'https://www.bestbuy.com/site/laptop-computers/all-laptops/pcmcat138500050001.c?id=pcmcat138500050001'
                            broaderTerms:
                              primaryLineage:
                                - id: abcat0502000
                                  name: Laptops
                                  seoUrl: 'https://www.bestbuy.com/site/computers-pcs/laptop-computers/abcat0502000.c?id=abcat0502000'
                                  sequence: 0
                                  __typename: HierarchyLineage
                                - id: abcat0500000
                                  name: 'Computers & Tablets'
                                  seoUrl: 'https://www.bestbuy.com/site/electronics/computers-pcs/abcat0500000.c?id=abcat0500000'
                                  sequence: 1
                                  __typename: HierarchyLineage
                                - id: cat00000
                                  name: Best Buy
                                  seoUrl: 'https://www.bestbuy.com/'
                                  sequence: 2
                                  __typename: HierarchyLineage
                              __typename: HierarchyBroaderTerms
                            __typename: CategoryDetail
                          __typename: ProductHierarchyLink
                      __typename: ProductHierarchy
                    arModels: null
                    reviewInfo:
                      averageRating: 0
                      reviewCount: 0
                      __typename: ProductReviewInfo
                    price:
                      customerPrice: 599.99
                      currentPrice: 599.99
                      priceEventType: onSale
                      puckDisplayMessage: null
                      heroRenderPriceOptions: FINANCE_OPTIONS
                      paymentOptions:
                        - numberOfInstallments: 8
                          installmentAmount: 75
                          vendor: zip
                          isDisplayable: true
                          type: BNPL
                          __typename: ItemPricePaymentOption
                      financeOption:
                        monthlyPayment: 50
                        offerId: '384913'
                        __typename: ItemPriceFinanceOption
                      tieredOffersTracking: null
                      __typename: ItemPrice
                    productVariationDetailDisplay:
                      type: detailDisplay
                      title: null
                      variationTypes:
                        - definition: 'Size of the screen, measured diagonally from corner to corner.'
                          displayName: Screen Size
                          rawName: 'Laptop_Computers:Screen_Size'
                          __typename: ProductVariationType
                        - definition: null
                          displayName: Total Storage Capacity
                          rawName: 'Desktop_and_Laptop_Computers:Total_Storage_Capacity'
                          __typename: ProductVariationType
                        - definition: "Random-access memory (RAM) is a computing device's short-term data storage, which allows active information to be accessed quickly. The size and type of RAM determines how efficiently the device can handle large amounts of information at one time. For example, gaming or video editing requires more RAM for optimal performance."
                          displayName: 'System Memory (RAM)'
                          rawName: 'Desktop_and_Laptop_Computers:System_Memory_RAM'
                          __typename: ProductVariationType
                        - definition: "Your computer's processor is like its brain. Working in combination with system memory, the power of the processor determines the complexity of software you can run, how many programs you can have open at the same time, and how fast those programs will run. Most computers feature an AMD, Intel or Snapdragon processor."
                          displayName: Processor Model
                          rawName: 'Desktop_and_Laptop_Computers:Processor_Model'
                          __typename: ProductVariationType
                        - definition: null
                          displayName: Color
                          rawName: 'Desktop_and_Laptop_Computers:Color'
                          __typename: ProductVariationType
                      productVariations:
                        - shortName: 'Lenovo - IdeaPad Slim 3 15.3" 2K Touchscreen Laptop - AMD Ryzen 7 170 2025 - 16GB Memory - 512GB SSD - Luna Grey'
                          color: Luna Grey
                          colorCategory: null
                          sku: '6668502'
                          variations:
                            - rawName: 'Laptop_Computers:Screen_Size'
                              value: '15.3"'
                              __typename: ProductVariationDetails
                            - rawName: 'Desktop_and_Laptop_Computers:Total_Storage_Capacity'
                              value: 512GB
                              __typename: ProductVariationDetails
                            - rawName: 'Desktop_and_Laptop_Computers:System_Memory_RAM'
                              value: 16GB
                              __typename: ProductVariationDetails
                            - rawName: 'Desktop_and_Laptop_Computers:Processor_Model'
                              value: AMD Ryzen 100 Series
                              __typename: ProductVariationDetails
                            - rawName: 'Desktop_and_Laptop_Computers:Color'
                              value: Luna Grey
                              __typename: ProductVariationDetails
                          product:
                            name:
                              short: 'Lenovo - IdeaPad Slim 3 15.3" 2K Touchscreen Laptop - AMD Ryzen 7 170 2025 - 16GB Memory - 512GB SSD - Luna Grey'
                              __typename: ProductName
                            seller:
                              classification: 1P
                              id: bby
                              __typename: Seller
                            __typename: Product
                            skuId: '6668502'
                            openBoxCondition: null
                          __typename: ProductVariation
                        - shortName: 'Lenovo - IdeaPad Slim 3 15.3" 2k Touchscreen Laptop - AMD Ryzen 7 170 2025 - 16GB Memory - 512GB SSD - Luna Grey'
                          color: Luna Grey
                          colorCategory: null
                          sku: '6674708'
                          variations:
                            - rawName: 'Laptop_Computers:Screen_Size'
                              value: '15.3"'
                              __typename: ProductVariationDetails
                            - rawName: 'Desktop_and_Laptop_Computers:Total_Storage_Capacity'
                              value: 512GB
                              __typename: ProductVariationDetails
                            - rawName: 'Desktop_and_Laptop_Computers:System_Memory_RAM'
                              value: 16GB
                              __typename: ProductVariationDetails
                            - rawName: 'Desktop_and_Laptop_Computers:Processor_Model'
                              value: AMD Ryzen 100 Series
                              __typename: ProductVariationDetails
                            - rawName: 'Desktop_and_Laptop_Computers:Color'
                              value: Luna Grey
                              __typename: ProductVariationDetails
                          product:
                            name:
                              short: 'Lenovo - IdeaPad Slim 3 15.3" 2k Touchscreen Laptop - AMD Ryzen 7 170 2025 - 16GB Memory - 512GB SSD - Luna Grey'
                              __typename: ProductName
                            seller:
                              classification: 1P
                              id: bby
                              __typename: Seller
                            __typename: Product
                            skuId: '6674708'
                            openBoxCondition: null
                          __typename: ProductVariation
                      __typename: InboundProductVariation
                    badgesV2: []
                    operationalAttributes:
                      - values:
                          - 'https://media.flixcar.com/delivery/webcall/content/160/us/mpn/83K700TUUS?force_cache=43013&pn=https://api.bestbuy.com/click/-/6674708/pdp'
                        __typename: ProductOperationalAttribute
                      - values:
                          - 'https://media.flixcar.com/delivery/webcall/content/160/us/mpn/83K700TUUS?force_cache=20260418000000&pn=https://api.bestbuy.com/click/-/6674708/pdp'
                        __typename: ProductOperationalAttribute
                      - values:
                          - Laptop
                          - User Guide
                          - 65W Charger
                        __typename: ProductOperationalAttribute
                      - values:
                          - Lenovo Ideapad
                        __typename: ProductOperationalAttribute
                      - values:
                          - General purpose
                        __typename: ProductOperationalAttribute
                    featuredSkuRank:
                      rankingId: '0001bXS_BvmBtJrc:tFiZig3Wel7Ge36'
                      __typename: FeaturedSkuRank
                  bsinBuyingOptions:
                    lowestAvailableBSINPrice: 599.99
                    highestAvailableBSINPrice: 879.99
                    __typename: BsinBuyingOptions
                    bsin: JJGH3KQYP8
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-status
          - mixed-content-types
          - single-sample
        confidence: low
      x-sample-count: 1
      x-origin: 'https://www.bestbuy.com'
  '/gateway/graphql [GetSpotlightAd]':
    post:
      summary: 'GetSpotlightAd (POST /gateway/graphql)'
      operationId: post_GetSpotlightAd
      requestBody:
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/GraphqlGetSpotlightAdRequest'
            example:
              operationName: GetSpotlightAd
              variables:
                pageSkus: '6674708'
                partyId: '<redacted>'
                placements:
                  name: PDP_SPONSORED_SPOTLIGHT
                  minSkus: 1
                  maxSkus: 1
                  pageType: ''
                platform: L
                salesChannel: LARGE_VIEW
                storeId: '1436'
                userAgent: 'Mozilla5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit537.36 (KHTML like Gecko) Chrome147.0.0.0 Safari537.36'
                visitorId: e616ea95-4828-4b2a-a078-2bf0bb59f33c
                zipcode: '21117'
              extensions:
                clientLibrary:
                  name: '@apollo/client'
                  version: 4.1.6
              query: "query GetSpotlightAd($pageSkus: [String], $partyId: String, $placements: [BestMediaAdsPlacementInput], $platform: String!, $storeId: String, $userAgent: String!, $visitorId: String!, $xForwardedFor: String, $zipcode: String, $salesChannel: String!, $membershipTier: String, $cartTimestamp: String, $customerId: String) {\n  bestMediaV3(\n    input: {pageSkus: $pageSkus, partyId: $partyId, placements: $placements, platform: $platform, storeId: $storeId, visitorId: $visitorId, userAgent: $userAgent, xForwardedFor: $xForwardedFor, zipcode: $zipcode}\n  ) {\n    onLoadBeaconsForPage {\n      source\n      beacon\n      __typename\n    }\n    placements {\n      id\n      name\n      accepted {\n        source\n        sku\n        onLoadBeaconForSku\n        onClickBeaconForSku\n        onViewBeaconForSku\n        onWishlistBeaconForSku\n        onBasketChangeBeaconForSku\n        primaryCategoryId\n        rank\n        campaignId\n        product {\n          bsin\n          name {\n            short\n            __typename\n          }\n          skuId\n          primaryImage {\n            piscesHref\n            __typename\n          }\n          url {\n            pdp\n            skuSpecificUrl\n            __typename\n          }\n          reviewInfo {\n            averageRating\n            reviewCount\n            syndicatedReviewSummary {\n              clientDisplayName\n              overallRating\n              totalReviewCount\n              __typename\n            }\n            __typename\n          }\n          price(\n            input: {salesChannel: $salesChannel, planPaidMemberType: $membershipTier, usePriceWithCart: true, cartTimestamp: $cartTimestamp, customerId: $customerId, visitorId: $visitorId}\n          ) {\n            customerPrice\n            icrCode\n            isMAP\n            regularPrice\n            preferredBadging\n            saleEventMessageType\n            strictMapIcr\n            totalSavings\n            __typename\n          }\n          __typename\n          openBoxCondition\n        }\n        __typename\n      }\n      rejected {\n        reason\n        sku\n        source\n        __typename\n      }\n      onLoadBeaconsForPlacement {\n        beacon\n        source\n        __typename\n      }\n      onViewBeaconsForPlacement {\n        beacon\n        source\n        __typename\n      }\n      __typename\n    }\n    __typename\n  }\n}"
      responses:
        '200':
          description: Success
          content:
            'application/graphql-response+json':
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      bestMediaV3:
                        type: object
                        properties:
                          onLoadBeaconsForPage:
                            type: array
                            items: {}
                          placements:
                            type: array
                            items:
                              '$ref': '#/components/schemas/Placements_10'
                          __typename:
                            type: string
                        required:
                          - __typename
                          - onLoadBeaconsForPage
                          - placements
                    required:
                      - bestMediaV3
                required:
                  - data
              example:
                data:
                  bestMediaV3:
                    onLoadBeaconsForPage: []
                    placements:
                      - id: '<redacted>'
                        name: PDP_SPONSORED_SPOTLIGHT
                        accepted:
                          - source: A
                            sku: '6576719'
                            onLoadBeaconForSku: ''
                            onClickBeaconForSku: 'https://b.us5.us.criteo.com/rm?rm_e=CsgQG3KxpZXX7v90pOIDDbnULE5fRLN69MZTy3I1uTnUEmuYaMQiIzBlulBUnsiLFIyG6Lp9S1YquhIU8vvC7sgTjDm_htMwE9Kqu7DH8GbSxxwkTSGSSnm5UzuldnRR0shTAcYqaP2ZEgrNqeEIZnKEjsk-PfecrvsMZhtvswJ_lzJXEf8Zcs8xRp8dH-r4LxMtuyAm5kytdcXmSCG9wO-cF4hhuAMiBDbvdC0WaMajz2PsCI9vw8XbsXQBwRMR8A9f-cOBgOd7v1ycHK3q3hbC4WVCnME7Bp9BuwIzI_eRB2WvrG0JC71_rSJX3CoSmwtuuYU4sAIn6E_WITD1L4WgsVVLqS8Y_MnzomAMWQhHqSP6adJD6f8c6IIoJOeaULlHZB_x5vLTAna5BF0cnuKwGmhyv_DNg7N2XRBk5PxlqI66mDQ6kUua9cPy9PwK_OEM_bsdw2J48j7XvhE4Ig&ev=4'
                            onViewBeaconForSku: 'https://b.us5.us.criteo.com/rm?rm_e=9g1UIQUSpiLYdeMAf6A-NmWTRVJXmR02XRarf-ukdD315OwqMTENjca1zQ_2M49DkEl0UX3lg_xp48eCLErSTAM5J5TLFpQc-EAvmo6BBpS-Dl-8TtAMwhAb-VR4DZ617Al_VeS8jmWFWDpElUsbGDa74bM0aXC0nwHPuAxPHCaD-JwWgnWSoVtbmT2jyB7uB42vyzlIU1YuBdOxnlrn2EJ_2MopJTuG3eNOjTbtO_SVfGr2OIXN4SXiHom1MqZ5gXtZ3ZNxpf2cLR4CJ-m8qc91Qb0GP_MKubFZSL_Ci49tsAO58iMG0dYg9HYJ3FEvii3E1vwQ2N47z62aXy59WaB3bjhgN5EfR3I4JnMxowv3zItNU3DZom8ZXepTA4KME3Vwf1BWiQ2oXvPU9DccwSBlCz277QGSemCZYmtnOuB8_KLkteIzAh17PJdmUvsmcYgUwPFxhQbyECrmRhihMQ&ev=4'
                            onWishlistBeaconForSku: 'https://b.us5.us.criteo.com/rm?rm_e=JxB_-UuVRClL8sEcy4xiKirIbp-D5FaG6N_2KN-mtURM1lAqLAZKah6-97nu4IiIEkNFX1QecmCuwJU3S5NAvp8R8-cJ5eUqfhGgGvhcVIplXY9ks9lvWwkhUJsbSzW_3l4fov8WYcZ_zjD6W_87l-8KYOrA3DFZ3uBH8O87QxInNjK0lWaOiF_3v6s9PL0EczS3X_zGfsRD5yI4H3aCb-W2X-tDD9dibG1CxJUBiu7oXZbULwb5AvjJdZEve6BgA-YHE3D9Ocn8LFAPznFUEXbumMzaj9EuhOr3yok2sunU_F3OlrDuQIdpI4-NPR5VTnROU-oGgSmqdEuh5G15XQcwi8qgV-KBK0180npQOmzNVLtvWX1kFpLRtbX1mRgw-c6PXgMOjx_wjCJMNcKwBFsxtGyKJ137ED8zJ-J8PEPjoSxqlULBC2SBYerKpGNaaBDY2e_FYQV6cnOpjqApRA&ev=4'
                            onBasketChangeBeaconForSku: 'https://b.us5.us.criteo.com/rm?rm_e=3JvcgIU78EhNw7QqjGsiluhuK6solGwJin8TKKtN3fCr-Pj6bSRdmBGf5U3gKmiplKuBBJyOqQOhSZP89D25WKkGT5onIns5ypJeNgsYZhMxxnmLaX8rZmoqMVgDk1y89VBxlTHWAjEQcN_IGvMpMR_vw1_GdyosLi13qK9fr1JEiHne-e-8_xgGddiS08XlZuqHgru_cc3ec7NErrN5tdbfpIftDGycYvebt8whzULJKNzUZAHdQ50G3r0PeaQUBqUkskL1iYjMxXgpv3F6hFwlfired23zbt5sKBLnTiQvfihKQQn2GFqExzPt559txdgSk0J8xqB3smKAvUX_RXLI1Z1DA96bNaDvy_yCcn4kz219IUbI7KjXBA-vTvASMSjYdSgrATr-YanrbWQWj66zFAyt-A8qyqaRXbNtf4w20ULj3rklt3S7Ov-flBXRU9BxS9a_tu6TwJPkUDP3GuQvn8MSKmEjgbLUuNTFYJo&ev=4'
                            primaryCategoryId: pcmcat138500050001
                            rank: 1
                            campaignId: '<redacted>'
                            product:
                              bsin: J3K4L6JSFL
                              name:
                                short: 'Dell - Inspiron 14 - 14" 2K 2-in-1 Touchscreen Laptop - AMD Ryzen 5 8640HS 2023 - 8GB Memory - 512 GB Storage - Midnight Blue'
                                __typename: ProductName
                              skuId: '6576719'
                              primaryImage:
                                piscesHref: 'https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6576/6576719_sd.jpg'
                                __typename: ProductImage
                              url:
                                pdp: 'https://www.bestbuy.com/product/dell-inspiron-14-14-2k-2-in-1-touchscreen-laptop-amd-ryzen-5-8640hs-2023-8gb-memory-512-gb-storage-midnight-blue/J3K4L6JSFL'
                                skuSpecificUrl: 'https://www.bestbuy.com/product/dell-inspiron-14-14-2k-2-in-1-touchscreen-laptop-amd-ryzen-5-8640hs-2023-8gb-memory-512-gb-storage-midnight-blue/J3K4L6JSFL/sku/6576719'
                                __typename: ProductUrl
                              reviewInfo:
                                averageRating: 4.5
                                reviewCount: 580
                                syndicatedReviewSummary: []
                                __typename: ProductReviewInfo
                              price:
                                customerPrice: 547.99
                                icrCode: null
                                isMAP: false
                                regularPrice: 729.99
                                preferredBadging: Clearance
                                saleEventMessageType: CLEARANCE
                                strictMapIcr: null
                                totalSavings: 182
                                __typename: ItemPrice
                              __typename: Product
                              openBoxCondition: null
                            __typename: BestMediaAdsAcceptedSku
                        rejected:
                          - reason: NOT_AVAILABLE
                            sku: '6668502'
                            source: A
                            __typename: BestMediaAdsRejectedSku
                        onLoadBeaconsForPlacement:
                          - beacon: 'https://b.us5.us.criteo.com/rm?u=1&rm_e=8Y4M7pj_-uMMajBmGNtBl9FNi7nGCiyM-RXXiQ6PASvKUIgGiDsz92S3MxaP_1aww5RkmyMlLR3E2RqVtMTZZAIEPLiEiUSxOr5yZEAnKddpN6v1wCRSiFTEjop5VS1nbM-8iZ06ZlIwP_OVd-0c01hfoMUWWtwpa6RejoQlcXJ6d1QZ-PAchSRxO95VTTkc-oiDwnosbK6y2QXdfBkTZwukWplE8TfsDFELW48CwMOdhg3-p4Qo_uxurwvsdVL5UhRPl3zcQREBb_jNP80MRw4i_0Kmt_G5wtrZT0f-urzBJaqXmWliSqgw4IJeZyMAE2OEqvP2YGJvhpS5Ok782GKDY1ydNVev_JzJovfSIht13Gy8njWJrO-Y0iQrndYGV_LE3Vj9UeMfEiR8m6PyB8cBIIQJsR-RKXbR7jPowlOz4jGjGCPT5IEH-PHloKQGaKKCXMrzddyxlN5MVbEDYYg1vPf1cIE3dcQq8CVsEc0&ev=4&ex=6668502'
                            source: A
                            __typename: BestMediaAdsBeacon
                        onViewBeaconsForPlacement:
                          - beacon: 'https://b.us5.us.criteo.com/rm?rm_e=YBIB2QJrmjWGY2qlE2c9Dc68BFg6cD0DpkbzIphqF--9No29PIJJrwIfdkf0Yn8UmuQxI8K-jDHNmQnnp0N6WrItwN0ovPhtntfqjDG6N8wmpxHJCYldWXJVs7PfYNRW_MZxNihQW_W9iMzL4NazctsJhVYpdkfJuxINyV_cAraEOym7SGZTIw3m5Y3Aw7SvNVeMrnWIovCDtVKISSwxhHm0PNMFRlnDIIZYSoCrsSLE1N-EOASPl9nU_2ljTEg0xpuZhJsXmvxP3-_ouhx_kQMVgJ2NIZBf6Lvoie_PKeZ1ZLi7k_OmwZXUhGoqlng2JKRxIPFhVx_YM8xjlNsg0eu7nuwYdu1MAC_PHgc4mO8rsPPX4sk4sqITVZzLl_cXY0XGEKIsWTjbmxD_bzEZaVjJ-f_gKm79yRNLb51lNcc&ev=4'
                            source: A
                            __typename: BestMediaAdsBeacon
                        __typename: BestMediaAdsPlacement
                    __typename: BestMediaV3Connection
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-status
          - mixed-content-types
          - single-sample
        confidence: low
      x-sample-count: 1
      x-origin: 'https://www.bestbuy.com'
  '/gateway/graphql [MyQuery]':
    post:
      summary: 'MyQuery (POST /gateway/graphql)'
      operationId: post_MyQuery
      requestBody:
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/GraphqlCartQueryRequest'
            example:
              query: "query MyQuery {\n  customer {\n    prioritizedCallToAction(\n      input: {origin: \"toast\", redirectUrl: \"https://www.bestbuy.com/product/lenovo-ideapad-slim-3-15-3-2k-touchscreen-laptop-amd-ryzen-7-170-2025-16gb-memory-512gb-ssd-luna-grey/JJGH3KQYP8/sku/6674708\"}\n    ) {\n      copy\n      experienceUrl\n      experienceUrlCopy\n      notification\n      notificationType\n    }\n  }\n}"
              variables: {}
              operationName: MyQuery
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      customer:
                        type: object
                        properties:
                          prioritizedCallToAction:
                            '$ref': '#/components/schemas/PrioritizedCallToAction'
                        required:
                          - prioritizedCallToAction
                    required:
                      - customer
                required:
                  - data
              example:
                data:
                  customer:
                    prioritizedCallToAction:
                      copy: "<strong>Add recovery phone number.</strong><br>In case you ever need to recover your account, we'll send you a text. Please {experienceUrl}."
                      experienceUrl: 'https://www.bestbuy.com/identity/recovery/phone/entrypoint?origin=toast&ctaName=add-account-recovery-phone&redirectUrl=https%3A%2F%2Fwww.bestbuy.com%2Fproduct%2Flenovo-ideapad-slim-3-15-3-2k-touchscreen-laptop-amd-ryzen-7-170-2025-16gb-memory-512gb-ssd-luna-grey%2FJJGH3KQYP8%2Fsku%2F6674708'
                      experienceUrlCopy: add your phone number
                      notification: add-account-recovery-phone
                      notificationType: moderate
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-status
          - mixed-content-types
          - single-sample
        confidence: low
      x-sample-count: 1
      x-origin: 'https://www.bestbuy.com'
  '/gateway/graphql [managedContentByTypeAndId]':
    post:
      summary: 'managedContentByTypeAndId (POST /gateway/graphql)'
      operationId: post_managedContentByTypeAndId
      requestBody:
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/GraphqlmanagedContentByTypeAndIdRequest'
            example:
              operationName: managedContentByTypeAndId
              variables:
                catalog: platform-manager
                type: key-value
                id: ask-blue-configs
              extensions:
                clientLibrary:
                  name: '@apollo/client'
                  version: 4.1.6
              query: "query managedContentByTypeAndId($catalog: String!, $type: String!, $id: String!) {\n  managedContentByTypeAndId(\n    managedContentInput: {catalog: $catalog, type: $type, id: $id}\n  ) {\n    document\n    __typename\n    catalog\n    id\n    type\n  }\n}"
      responses:
        '200':
          description: Success
          content:
            'application/graphql-response+json':
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      managedContentByTypeAndId:
                        '$ref': '#/components/schemas/ManagedContentByTypeAndId'
                    required:
                      - managedContentByTypeAndId
                required:
                  - data
              example:
                data:
                  managedContentByTypeAndId:
                    document:
                      API_END_POINT_URL:
                        app: 'https://app.bestbuy.com'
                        web: 'https://www.bestbuy.com'
                      ENVIRONMENT: development
                      MOCK_API_END_POINT_URL: 'https://endpoints.stratus.bby/digital/eks/te-non-a/us-east-1/askblemcksrvr-eks/askblemcksrvr-int'
                      MOCK_END_POINT_API_KEY: 3cb6c103878165d47ccc36696e7ec32fc0ba3e48265b0ba2aaab004b636fd7e8
                      askBlueEnabledApp: true
                      askBlueEnabledWeb: true
                      askBlueUtList:
                        - 49a4bbb9-aece-11ea-97cd-005056aeb6f7
                        - 572a7234-8d8d-11f0-b83d-06e81abc3177
                        - a10a2ebf-4ea7-11f1-8af7-0254a68b6c75
                        - be6e0487-0f8a-11f0-b6b7-0affc03f8695
                        - d94cf4f1-d4bd-11ed-9e49-005056a8d8b1
                        - e64f2717-6253-11f0-9621-121591935d1f
                        - 1fc31272-b653-11ea-8136-0a1533e9dd2f
                        - d99456c0-03d5-11f0-bcf4-068fdac8c883
                        - 52bfaaf4-690f-11ea-ac49-0a0eccadca29
                        - e64f2717-6253-11f0-9621-121591935d1f
                        - 68cd49a0-2696-11f1-b193-029e43b7edf1
                        - a9bc4ea8-0a47-11ee-9023-0a7fc935345b
                        - 01a93c7b-dffe-11ef-baf1-02915e3ea5fd
                        - a3e541d5-eba8-11e2-ac2c-00505692405c
                        - 1018a36e-3cd7-11ef-b94c-025cc9ad82b7
                        - 7bd79a6e-2e73-11f1-b3cf-0affe2e5d05d
                        - 035c8623-4f3c-11ec-935b-0abe48b89689
                        - 496c89a6-3c9c-11f0-ae91-0281e62b3cdb
                        - bb94d7c6-a18b-11e8-8103-005056aeac0a
                        - 51fcec38-4749-11f0-8c0a-02e8827fe407
                        - b712a957-e300-11ea-8842-005056aeb6f7
                        - 75d6bf07-587f-11ea-bea2-005056a8d8b1
                        - 82fe4da6-8a9e-11e8-b196-005056ae74b1
                        - 1fc31272-b653-11ea-8136-0a1533e9dd2f
                        - 0ca10d43-fc2c-11e5-83e7-00505692405c
                        - cd42f761-1127-11f0-a84a-0607c73c5e53
                        - ffaa38ca-2f79-11f1-b7c0-0affd5c9a383
                        - f3d13e0d-2f0e-11f1-b7c0-0affd5c9a383
                        - b42ef22e-2ec0-11f1-b7c0-0affd5c9a383
                        - 35ca5a0f-a989-11ec-8d3e-0addff7446a1
                        - 8eea447a-2eb2-11f1-b0c6-1234373adde9
                        - 95964ccb-eb5c-11e2-a88a-00505692405b
                        - 1fa89be2-c077-11f0-8e3a-021bd22ceb77
                        - 6c72cb8d-19db-11f0-8440-0a608691ee53
                        - f572be7f-8269-11f0-b58f-0a6bd9827fe5
                        - 19cd6d97-0925-11e3-884a-00505692405c
                        - 867ee4bd-f55e-11e2-9308-00505692405c
                        - 8431c018-d1f9-11f0-824a-0249c9343057
                        - 9e3b88eb-4048-11f0-af7b-02d434cacc89
                        - dac2ed11-02e5-11f1-b2c4-0a6b05cb9a89
                        - 35f79da9-1d52-11f1-8d00-02da504d6d83
                        - 679de86f-ebc6-11e2-ac2c-00505692405c
                        - 072f6887-a006-11ef-b17d-027bcedb8889
                        - b6f0ec0c-3ad6-11f0-851e-02d72b58d9af
                        - 717c4615-de0f-11ef-b5d3-02e07e248443
                        - 874167d1-24e0-11f0-afda-0a8aaf13b6df
                        - 5dbf1a24-57bc-11e3-97fe-00505692405a
                        - eb68d9c5-0486-11ee-841e-0693fddda4ad
                        - 6c72cb8d-19db-11f0-8440-0a608691ee53
                        - 30d4f1ff-2011-11f0-9dec-0a4ef876567d
                        - 38fc079d-419b-11ec-9b26-06381b08a077
                        - b3d87859-683f-11ed-9de1-06d2722a205d
                        - 8a8ddab9-efb5-11e6-901b-0050568f0ce9
                        - 6fff4f5a-e36d-11e3-bde8-00505692405a
                        - 61740398-ebbf-11e2-ac2c-00505692405c
                        - 0ca10d43-fc2c-11e5-83e7-00505692405c
                        - f787b0ba-eb72-11e2-ac2c-00505692405c
                        - c5593c5b-e8e0-11eb-a20c-02b5287522eb
                        - 3541774b-3d9c-11ef-b4e5-0a52b409766b
                        - e3ecca74-e1ea-11e3-9188-00505692405c
                        - a3e541d5-eba8-11e2-ac2c-00505692405c
                        - a9bd5e6b-eb7f-11e2-a88a-00505692405b
                        - e7e1008d-f2e0-11ea-bc15-005056aead3a
                        - 2380afd8-3156-11f0-b3a7-0a88b6a92ea3
                        - 499ccd99-d725-11f0-8085-0a0183378725
                        - 5715ada9-c51a-11e8-9ff7-005056ae2eaa
                        - 1c39c15b-8265-11f0-bad7-024e86469b21
                        - 36d1d2a5-e33e-11eb-807c-06786772858b
                        - 3d82c4ef-1daf-11e4-b343-00505692405c
                        - 2913f5b9-7b65-11ec-959f-0ec9554cd341
                        - 837996f2-546f-11ed-9070-0a601136d497
                        - f96105d2-3c1c-11ee-9c95-0681f71aa2df
                        - 20a6dc32-db8b-11e3-9457-00505692405b
                        - f4fed54c-1582-11e3-8e4c-00505692405c
                        - a6124609-d1d6-11e5-be74-00505692405b
                        - 67c12953-eb66-11e2-a88a-00505692405b
                      askBlueUtRestrictionEnabled: true
                      enableConsoleLogging: false
                      landingScreenStarterPrompts:
                        - suggestions:
                            - text: Find the best laptop
                            - text: Compare TVs
                            - text: Smart home setup
                          title: 'Tech & computing'
                        - suggestions:
                            - text: Gaming setup
                            - text: Home office setup
                            - text: Audio equipment
                          title: 'Entertainment & work'
                        - suggestions:
                            - text: Kitchen appliances
                            - text: Fitness gear
                            - text: Outdoor gear
                          title: 'Home & lifestyle'
                      landingScreenSubTitle: "Whether you know exactly what you need or you're still figuring it out, I can help you find what works."
                      landingScreenTitle: "Let's find what's best for you."
                      layerMode:
                        app: three-layer
                        web: three-layer
                      loadingIndicatorMessage:
                        - id: initial
                          selection:
                            mode: random
                            pool:
                              - id: init_2
                                title: Looking into it
                          trigger:
                            type: onTurnStart
                        - id: t_plus_7
                          message:
                            title: Figuring out what you need
                          trigger:
                            type: afterSeconds
                            value: 7
                        - id: t_plus_11
                          message:
                            title: This is taking a little longer than expected...
                          trigger:
                            type: afterSeconds
                            value: 11
                        - id: t_plus_20
                          message:
                            subTitle: 'You can keep waiting, or switch to something else.'
                            title: This is taking some time.
                          trigger:
                            type: afterSeconds
                            value: 20
                        - id: t_plus_60
                          message:
                            subTitle: 'Try again, or come back in a few minutes. We’re working to fix this.'
                            title: 'That didn’t go through.'
                          trigger:
                            type: afterSeconds
                            value: 60
                    __typename: ManagedContent
                    catalog: platform-manager
                    id: ask-blue-configs
                    type: key-value
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-status
          - mixed-content-types
          - single-sample
        confidence: low
      x-sample-count: 1
      x-origin: 'https://www.bestbuy.com'
  '/gateway/graphql [WarrantySelector_CustomerPriceAndButtonState]':
    post:
      summary: 'WarrantySelector_CustomerPriceAndButtonState (POST /gateway/graphql)'
      operationId: post_WarrantySelector_CustomerPriceAndButtonState
      requestBody:
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/GraphqlWarrantySelectorCustomerPriceAndButtonStateRequest'
            example:
              operationName: WarrantySelector_CustomerPriceAndButtonState
              variables:
                skuId: '6674708'
                membershipTier: 'NULL'
                openBoxCondition: null
                salesChannel: LargeView
                key: recommendations-experience-configs
              extensions:
                clientLibrary:
                  name: '@apollo/client'
                  version: 4.1.6
              query: "query WarrantySelector_CustomerPriceAndButtonState($skuId: String!, $salesChannel: String!, $membershipTier: String, $openBoxCondition: Int, $key: String!) {\n  ...ManagedContentByTypeAndId\n  productBySkuId(skuId: $skuId, openBoxCondition: $openBoxCondition) {\n    price(input: {salesChannel: $salesChannel, planPaidMemberType: $membershipTier}) {\n      customerPrice\n      __typename\n    }\n    openBoxOptions {\n      product {\n        openBoxCondition\n        price(input: {salesChannel: $salesChannel, planPaidMemberType: $membershipTier}) {\n          customerPrice\n          openBoxPrice\n          __typename\n        }\n        __typename\n        skuId\n      }\n      __typename\n    }\n    __typename\n    skuId\n    openBoxCondition\n  }\n}\n\nfragment ManagedContentByTypeAndId on Query {\n  managedContentByTypeAndId(managedContentInput: {type: \"key-value\", id: $key}) {\n    ...ManagedContentDocument\n    __typename\n    catalog\n    id\n    type\n  }\n  __typename\n}\n\nfragment ManagedContentDocument on ManagedContent {\n  document\n  id\n  type\n  catalog\n  __typename\n}"
      responses:
        '200':
          description: Success
          content:
            'application/graphql-response+json':
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      managedContentByTypeAndId:
                        '$ref': '#/components/schemas/ManagedContentByTypeAndId_14'
                      __typename:
                        type: string
                      productBySkuId:
                        '$ref': '#/components/schemas/ProductBySkuId_26'
                    required:
                      - __typename
                      - managedContentByTypeAndId
                      - productBySkuId
                required:
                  - data
              example:
                data:
                  managedContentByTypeAndId:
                    document:
                      abTest353ScalingStrategy:
                        scaleAIVPostcardSpacing: false
                        scalePackageDealsCarouselNewLayout: true
                        scaleUREHorizontalLayout: true
                        scaleWarrantySelectorInterruptor: true
                        scaleWarrantySelectorPostcardSpacing: false
                      abTest354ScalingStrategy:
                        scaleAIVPostcardSpacing: false
                        scaleWarrantySelectorInterruptor: true
                        scaleWarrantySelectorPostcardSpacing: false
                      abTest365ScalingStrategy:
                        scaleAIVPostcardSpacing: false
                        scaleWarrantySelectorInterruptor: true
                        scaleWarrantySelectorPostcardSpacing: false
                      accessories-in-variations:
                        isUREEnabled: true
                      badgeConfig:
                        bestSelling: {}
                        default: {}
                        gandalf: {}
                        overallPick:
                          badgeBackgroundStyle: bg-default-emphasis
                          badgeIcon: Tag
                          badgeIconStyle: fill-secondary-on-emphasis w-150 h-150
                          badgeImageStyle:
                            app:
                              height: 12
                              width: 12
                            web:
                              lg: w-200 h-200
                              md: w-150 h-150
                              sm: w-150 h-150
                          badgeImageUrl: 'https://pisces.bbystatic.com/image2/vector/BestBuy_US/dam/Tag-24-f1896454-dd92-4fa6-a189-71dab5f11372.svg'
                        topRated: {}
                        trendingDeal: {}
                      defaultImageUrl: 'https://pisces.bbystatic.com/image2/BestBuy_US/store/images/global/misc/unavailable.png'
                      enableRecsMarketplace:
                        app: true
                        web: true
                      installation-services:
                        App:
                          enableTVInstall2_0: true
                        Web:
                          enableTVInstall2_0: true
                      isAppWebpEnabled: true
                      isWebpEnabled: true
                      pdp:
                        ure:
                          egpQueryPlacementValue: pdp-ure
                          mobileApp:
                            UREMainTitle: Customers often buy these together
                            additionalMinRelatedProductsCount: 1
                            limit: 15
                            relatedProductsCount: 2
                          web:
                            lv:
                              UREMainTitle: Customers often buy these together
                              additionalMinRelatedProductsCount: 1
                              limit: 15
                              relatedProductsCount: 2
                            sv:
                              UREMainTitle: Customers often buy these together
                              additionalMinRelatedProductsCount: 1
                              limit: 15
                              relatedProductsCount: 2
                      product-carousel:
                        APP:
                          disableAddToCart: false
                          disableCriteo: false
                          disableWebp: false
                        DEFAULT:
                          allowBadgeTypesList:
                            - BUY_AGAIN
                            - RECENTLY_VIEWED
                          enableGlobalPlacementBadge: false
                          enablePlacementListBadge: []
                        GVP:
                          disableCriteo: false
                          disableWebp: false
                        INTERRUPTOR-APP:
                          disableMatchType: true
                          disablePills: true
                        INTERRUPTOR-MF:
                          disableCombo: true
                          disableMatchType: true
                          disablePills: true
                        MF:
                          disableCombo: true
                          disableCriteo: false
                          disableWebp: false
                      recs-interruptor:
                        deoEnvironment: production
                        eligibleComponentList:
                          - warranty-selector
                          - product-carousel
                          - product-installation
                          - service-selector
                          - installation-service
                        enableFocusedInterruptorAbtest: true
                        enableProductCarouselForAll: true
                        hideComponentsForApp:
                          - URE
                        hideComponentsForWeb:
                          - URE
                        product-installation:
                          mobileApp:
                            disableSelfInstallTypeInfos:
                              - Remote_Starters
                            enableProductInstallation: true
                            enableProductInstallationOnOpenBox: true
                          web:
                            lv:
                              disableSelfInstallTypeInfos:
                                - Remote_Starters
                              enableProductInstallation: true
                              enableProductInstallationOnOpenBox: true
                            sv:
                              disableSelfInstallTypeInfos:
                                - Remote_Starters
                              enableProductInstallation: true
                              enableProductInstallationOnOpenBox: true
                        productCarouselValidator:
                          All:
                            - All_in_One_Desktop_Computers
                            - Desktop_Computer_Towers
                            - Laptop_Computers
                            - Monitors
                            - Processors
                            - Studio_Monitors
                            - Antivirus_and_Internet_Security_Software
                          Apple:
                            - Tablets
                          Beats:
                            - Tablets
                          Beats by Dr. Dre:
                            - Tablets
                        scaleFocusedInterruptor: false
                        shouldReturnWarrantyData: true
                        unified-recommendations-experience:
                          egpQueryPlacementValue: interruptor-ure
                          mobileApp:
                            UREInterruptorTitle: Customers often buy these together
                            additionalMinRelatedProductsCount: 1
                            limit: 15
                            relatedProductsCount: 2
                          web:
                            lv:
                              UREInterruptorTitle: Customers often buy these together
                              additionalMinRelatedProductsCount: 1
                              limit: 15
                              relatedProductsCount: 2
                            sv:
                              UREInterruptorTitle: Customers often buy these together
                              additionalMinRelatedProductsCount: 1
                              limit: 15
                              relatedProductsCount: 2
                        ure:
                          egpQueryPlacementValue: interruptor-ure
                          mobileApp:
                            UREInterruptorTitle: Customers often buy these together
                            additionalMinRelatedProductsCount: 1
                            limit: 15
                            relatedProductsCount: 2
                          web:
                            lv:
                              UREInterruptorTitle: Customers often buy these together
                              additionalMinRelatedProductsCount: 1
                              limit: 15
                              relatedProductsCount: 2
                            sv:
                              UREInterruptorTitle: Customers often buy these together
                              additionalMinRelatedProductsCount: 1
                              limit: 15
                              relatedProductsCount: 2
                      referer: www.bestbuy.com
                      referrer: www.bestbuy.com
                      service-selector:
                        App:
                          enableServiceSelector: true
                        Web:
                          enableServiceSelector: true
                        mountSkusForTVInstall:
                          - '6629013'
                          - '6629018'
                          - '6629025'
                        titleForTVInstall: Professional mounting with additional service options available
                      unified-recommendations-experience:
                        egpQueryPlacementValue: pdp-ure
                        mobileApp:
                          UREColdstartTitle: Find more like this
                          UREMainTitle: Customers often buy these together
                          additionalMinRelatedProductsCount: 1
                          limit: 15
                          relatedProductsCount: 2
                        web:
                          lv:
                            UREColdstartTitle: Find more like this
                            UREMainTitle: Customers often buy these together
                            additionalMinRelatedProductsCount: 1
                            limit: 15
                            relatedProductsCount: 2
                          sv:
                            UREColdstartTitle: Find more like this
                            UREMainTitle: Customers often buy these together
                            additionalMinRelatedProductsCount: 1
                            limit: 15
                            relatedProductsCount: 2
                    id: recommendations-experience-configs
                    type: key-value
                    catalog: platform-manager
                    __typename: ManagedContent
                  __typename: Query
                  productBySkuId:
                    price:
                      customerPrice: 599.99
                      __typename: ItemPrice
                    openBoxOptions: null
                    __typename: Product
                    skuId: '6674708'
                    openBoxCondition: null
      x-confidence:
        samples: 1
        statusCodes:
          - 200
        normalizationFlags:
          - single-status
          - mixed-content-types
          - single-sample
        confidence: low
      x-sample-count: 1
      x-origin: 'https://www.bestbuy.com'
  '/gateway/graphql [AccessoriesInVariations_ConfigData]':
    post:
      summary: 'AccessoriesInVariations_ConfigData (POST /gateway/graphql)'
      operationId: post_AccessoriesInVariations_ConfigData
      requestBody:
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/GraphqlAccessoriesInVariationsConfigDataRequest'
            example:
              operationName: AccessoriesInVariations_ConfigData
              variables:
                deviceClass: LV
                aiv: accessories-in-variations
                nodeId: recs-components-typeinfo-mapping
                key: recommendations-experience-configs
                driverSkuId: '6674708'
              extensions:
                clientLibrary:
                  name: '@apollo/client'
                  version: 4.1.6
              query: "query AccessoriesInVariations_ConfigData($aiv: String!, $driverSkuId: String!, $deviceClass: String!, $nodeId: String!, $key: String!) {\n  aivMatchTypeInfo: recommendationsComponentExperience(\n    input: {componentName: $aiv, driverSkuId: $driverSkuId, deviceClass: $deviceClass, nodeId: $nodeId}\n  ) {\n    isDisplayable\n    __typename\n  }\n  ...ManagedContentByTypeAndId\n}\n\nfragment ManagedContentByTypeAndId on Query {\n  managedContentByTypeAndId(managedContentInput: {type: \"key-value\", id: $key}) {\n    ...ManagedContentDocument\n    __typename\n    catalog\n    id\n    type\n  }\n  __typename\n}\n\nfragment ManagedContentDocument on ManagedContent {\n  document\n  id\n  type\n  catalog\n  __typename\n}"
      responses:
        '200':
          description: Success
          content:
            'application/graphql-response+json':
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      aivMatchTypeInfo:
                        '$ref': '#/components/schemas/AivMatchTypeInfo'
                      managedContentByTypeAndId:
                        '$ref': '#/components/schemas/ManagedContentByTypeAndId_14'
                      __typename:
                        type: string
                    required:
                      - __typename
                      - aivMatchTypeInfo
                      - managedContentByTypeAndId
                required:
                  - data
              example:
                data:
                  aivMatchTypeInfo:
                    isDisplayable: true
                    __typename: RecommendationsComponentExperienceConnection
                  managedContentByTypeAndId:
                    document:
                      abTest353ScalingStrategy:
                        scaleAIVPostcardSpacing: false
                        scalePackageDealsCarouselNewLayout: true
                        scaleUREHorizontalLayout: true
                        scaleWarrantySelectorInterruptor: true
                        scaleWarrantySelectorPostcardSpacing: false
                      abTest354ScalingStrategy:
                        scaleAIVPostcardSpacing: false
                        scaleWarrantySelectorInterruptor: true
                        scaleWarrantySelectorPostcardSpacing: false
                      abTest365ScalingStrategy:
                        scaleAIVPostcardSpacing: false
                        scaleWarrantySelectorInterruptor: true
                        scaleWarrantySelectorPostcardSpacing: false
                      accessories-in-variations:
                        isUREEnabled: true
                      badgeConfig:
                        bestSelling: {}
                        default: {}
                        gandalf: {}
                        overallPick:
                          badgeBackgroundStyle: bg-default-emphasis
                          badgeIcon: Tag
                          badgeIconStyle: fill-secondary-on-emphasis w-150 h-150
                          badgeImageStyle:
                            app:
                              height: 12
                              width: 12
                            web:
                              lg: w-200 h-200
                              md: w-150 h-150
                              sm: w-150 h-150
                          badgeImageUrl: 'https://pisces.bbystatic.com/image2/vector/BestBuy_US/dam/Tag-24-f1896454-dd92-4fa6-a189-71dab5f11372.svg'
                        topRated: {}
                        trendingDeal: {}
                      defaultImageUrl: 'https://pisces.bbystatic.com/image2/BestBuy_US/store/images/global/misc/unavailable.png'
                      enableRecsMarketplace:
                        app: true
                        web: true
                      installation-services:
                        App:
                          enableTVInstall2_0: true
                        Web:
                          enableTVInstall2_0: true
                      isAppWebpEnabled: true
                      isWebpEnabled: true
                      pdp:
                        ure:
                          egpQueryPlacementValue: pdp-ure
                          mobileApp:
                            UREMainTitle: Customers often buy these together
                            additionalMinRelatedProductsCount: 1
                            limit: 15
                            relatedProductsCount: 2
                          web:
                            lv:
                              UREMainTitle: Customers often buy these together
                              additionalMinRelatedProductsCount: 1
                              limit: 15
                              relatedProductsCount: 2
                            sv:
                              UREMainTitle: Customers often buy these together
                              additionalMinRelatedProductsCount: 1
                              limit: 15
                              relatedProductsCount: 2
                      product-carousel:
                        APP:
                          disableAddToCart: false
                          disableCriteo: false
                          disableWebp: false
                        DEFAULT:
                          allowBadgeTypesList:
                            - BUY_AGAIN
                            - RECENTLY_VIEWED
                          enableGlobalPlacementBadge: false
                          enablePlacementListBadge: []
                        GVP:
                          disableCriteo: false
                          disableWebp: false
                        INTERRUPTOR-APP:
                          disableMatchType: true
                          disablePills: true
                        INTERRUPTOR-MF:
                          disableCombo: true
                          disableMatchType: true
                          disablePills: true
                        MF:
                          disableCombo: true
                          disableCriteo: false
                          disableWebp: false
                      recs-interruptor:
                        deoEnvironment: production
                        eligibleComponentList:
                          - warranty-selector
                          - product-carousel
                          - product-installation
                          - service-selector
                          - installation-service
                        enableFocusedInterruptorAbtest: true
                        enableProductCarouselForAll: true
                        hideComponentsForApp:
                          - URE
                        hideComponentsForWeb:
                          - URE
                        product-installation:
                          mobileApp:
                            disableSelfInstallTypeInfos:
                              - Remote_Starters
                            enableProductInstallation: true
                            enableProductInstallationOnOpenBox: true
                          web:
                            lv:
                              disableSelfInstallTypeInfos:
                                - Remote_Starters
                              enableProductInstallation: true
                              enableProductInstallationOnOpenBox: true
                            sv:
                              disableSelfInstallTypeInfos:
                                - Remote_Starters
                              enableProductInstallation: true
                              enableProductInstallationOnOpenBox: true
                        productCarouselValidator:
                          All:
                            - All_in_One_Desktop_Computers
                            - Desktop_Computer_Towers
                            - Laptop_Computers
                            - Monitors
                            - Processors
                            - Studio_Monitors
                            - Antivirus_and_Internet_Security_Software
                          Apple:
                            - Tablets
                          Beats:
                            - Tablets
                          Beats by Dr. Dre:
                            - Tablets
                        scaleFocusedInterruptor: false
                        shouldReturnWarrantyData: true
                        unified-recommendations-experience:
                          egpQueryPlacementValue: interruptor-ure
                          mobileApp:
                            UREInterruptorTitle: Customers often buy these together
                            additionalMinRelatedProductsCount: 1
                            limit: 15
                            relatedProductsCount: 2
                          web:
                            lv:
                              UREInterruptorTitle: Customers often buy these together
                              additionalMinRelatedProductsCount: 1
                              limit: 15
                              relatedProductsCount: 2
                            sv:
                              UREInterruptorTitle: Customers often buy these together
                              additionalMinRelatedProductsCount: 1
                              limit: 15
                              relatedProductsCount: 2
                        ure:
                          egpQueryPlacementValue: interruptor-ure
                          mobileApp:
                            UREInterruptorTitle: Customers often buy these together
                            additionalMinRelatedProductsCount: 1
                            limit: 15
                            relatedProductsCount: 2
                          web:
                            lv:
                              UREInterruptorTitle: Customers often buy these together
                              additionalMinRelatedProductsCount: 1
                              limit: 15
                              relatedProductsCount: 2
                            sv:
                              UREInterruptorTitle: Customers often buy these together
                              additionalMinRelatedProductsCount: 1
                              limit: 15
                              relatedProductsCount: 2
                      referer: www.bestbuy.com
                      referrer: www.bestbuy.com
                      service-selector:
                        App:
                          enableServiceSelector: true
                        Web:
                          enableServiceSelector: true
                        mountSkusForTVInstall:
                          - '6629013'
                          - '6629018'
                          - '6629025'
                        titleForTVInstall: Professional mounting with additional service options available
                      unified-recommendations-experience:
                        egpQueryPlacementValue: pdp-ure
                        mobileApp:
                          UREColdstartTitle: Find more like this
                          UREMainTitle: Customers often buy these together
                          additionalMinRelatedProductsCount: 1
                          limit: 15
                          relatedProductsCount: 2
                        web:
                          lv:
                            UREColdstartTitle: Find more like this
                            UREMainTitle: Customers often buy these together
                            additionalMinRelatedProductsCount: 1
                            limit: 15
                            relatedProductsCount: 2
                          sv:
                            UREColdstartTitle: Find more like this
                            UREMainTitle: Customers often buy these together
                            additionalMinRelatedProductsCount: 1
                            limit: 15
                            relatedProductsCount: 2
                    id: recommendations-experience-configs
                    type: key-value
                    catalog: platform-manager
[...]
